* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom left, #ffffff 0%, #ff99ff 100%);
    width: 100%;
    height: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    font-family: 900;
}

.box1  {
    background: linear-gradient(to top, #cc0000 0%, #ff99cc 100%);
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 20px;
    transition: all 2s ease-in-out;
}

.box1:hover {
    transition: rotate(360deg);
    
}



/* eksempel på transform-orgin */

.eksempel2 div{
    display: flex;
    gap: 50px;
}

.eksempel2 div div {
    display: flex;
    flex-direction: column;
}

.kasse1 {
    background: linear-gradient(to right, #3333ff 0%, #ff3300 100%);
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin: 50px auto;
    transition: transform 3s linear;
    transform-origin: top left;
    transform-style: preserve-3D;
}

.kasse2 {
    background: linear-gradient(to right, #3333ff 0%, #ff3300 100%);
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin: 50px auto;
    transition: transform 3s linear;
    transform-origin: center;
    transform-style: preserve-3D;
}

.kasse3 {
    background: linear-gradient(to right, #3333ff 0%, #ff3300 100%);
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin: 50px auto;
    transition: transform 3s linear;
    transform-origin: bottom left;
    transform-style: preserve-3D;
}


.kasse-rotate {
    transform: rotate(360deg);
}


button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #3333ff;
    color: #ffffff;
    font-size: 16px;
  }



/* Kube CSS */

.beholder {
    width: 200px;
    height: 200px;
    perspective: 500px;
    margin: 200px auto;
}

.kube {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotate3d(1, 1, 1, 45deg);
    animation: turn 5s linear infinite;
    color: #ffffff;
    transform-origin: center;
}

.box {
    width: 200px;
    height: 200px;
    background: linear-gradient(to right, #ffff00 0%, #ff33cc 100%);
    border: 2px solid black;
    position: absolute;
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}


@keyframes turn {
    from { transform: rotate3d(0, 0, 0, 0); }
    to { transform: rotate3d(1, 1, 1, 360deg); }
}

@media (prefers-reduced-motion: reduce) {
    .cube {
      animation: none;
      transform: rotate3d(1, 1, 0, 45deg);
    }
}

.top {
    transform: translateY(-100px) rotateX(90deg);
}
  
.bottom {
    transform: translateY(100px) rotateX(-90deg);
}

.right {
    transform: translateX(100px) rotateY(90deg);
}

.front {
    transform: translateZ(100px);
}

.back {
    transform: translateZ(-100px) rotateY(180deg);
}



.left {
    transform: translateX(-100px) rotateY(-90deg);
}
  


